.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Window {
  width: 300px;
  margin: 50px auto;
}

.Dices {
  position: absolute;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.Lock {
  border: 3px solid black;
  background-color: yellow;
}

.Lock,
.Open {
  width: 30px;
  height: 30px;
}

.Roll {
  display: flex;
  gap: 10px;
  padding-top: 50px;
}

table {
  border: 1px solid #444;
  border-collapse: collapse;
  margin: 20px 0px;
  text-align: center;
}
th,
td {
  width: 100px;
  height: 50px;
  border: 1px solid #444;
}

td > button {
  width: 100%;
  height: 100%;
}

.Total {
  font-size: 24px;
  margin-bottom: 20px;
}
